:root {
    --main-text-color: #212121;
    --secondary-text-color: #757575;
    --icons-color: #AFB1B8;
    --main-white-color: #FFFFFF;
    --action-color: #2196F3;
    --signature-color: rgba(255, 255, 255, 0.6);
    --footer-bg: #2F303A;
    --additional-bg: #F5F4FA;
    --border-line-color: #ECECEC;
    --secondary-border-line-color: #EEEEEE;
    --main-choice-color: #188ce8;

    --main-transition-time: 1250ms;
    --main-transition-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    --portfolio-hover-effect: rgba(33, 150, 243, 0.9);
}

body {
    color: var(--main-text-color);
    background-color: var(--main-white-color);

    font-family: 'Roboto', sans-serif;  
    letter-spacing: 0.03em;
}

/* =============================================================================
                                                                    | Утилиты
============================================================================= */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
    }

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

img {
    display: block;
}


/* =============================================================================
                                                                        | Шапка
============================================================================= */

.header {
    border-bottom: 1px solid var(--border-line-color);
    
}

.header__container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    
    line-height: 1.2;
    display: inline-block;
    color: var(--action-color);
}

.header__logo {
    margin-right: 86px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.logo--black {
    color: var(--main-text-color);
}

.navigation__list {
    display: flex;
    align-items: center;
}

.navigation__item:not(:last-child) {
    margin-right: 50px;
}

.navigation__link {
    color: var(--main-text-color);
    position: relative;
    transition: color var(--main-transition-time) var(--main-transition-function);
}

.navigation__link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.navigation__link--current {
    color: var(--action-color);
}

.navigation__link:hover,
.navigation__link:focus {
    color: var(--action-color);
}

.navigation__link--current::after {
    content: '';

    width: 100%;
    height: 4px;
    display: block;
    background-color: var(--action-color);
    
    position: absolute;
    
    left: 0;
    bottom: 0;
    border-radius: 2px;

}

/* =============================================================================
                                                                        Контакты
============================================================================= */

.header__contacts-list {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header__contacts-item:not(:last-child) {
    margin-right: 48px;
}

.header__contacts-link  {
    color: var(--secondary-text-color);
    transition: color var(--main-transition-time) var(--main-transition-function);
}

.header__contacts-link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header__contacts-link:hover,
.header__contacts-link:focus {
    color: var(--action-color);
}


/* =============================================================================
                                                                    Иконки шапки
============================================================================= */


.header__envelope-icon,
.header__phone-icon {
    margin-right: 10px;
    cursor: pointer;
    fill: currentColor;
}

/* =============================================================================
                                                                        |  Герой
============================================================================= */

.hero {
    background-color: var(--footer-bg);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;

    max-width: 1600px;
    height: 600px;
    
    background-image: 
    linear-gradient( 
    rgba(47, 48, 58, 0.4), 
    rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-image.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.hero__container {
    width: 696px;
    margin: 0 auto;
}

.hero__title {
    color: var(--main-white-color);
    margin-top: 0;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;

    text-transform: uppercase;
}

.btn {
    min-width: 200px;
    min-height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    cursor: pointer;
    font-family: inherit;
    border-radius: 4px;
    border: none;

    background-color: var(--action-color);
    color: var(--main-white-color);

    transition: background-color var(--main-transition-time) var(--main-transition-function);
}

.btn:hover,
.btn:focus {
    background-color: var(--main-choice-color);
}

/* =============================================================================
                                                            | Наши преимущества
============================================================================= */

.benefits {
    padding-top: 107px;
    padding-bottom: 94px;
}

.benefits__list {
    display: flex;
}

.benefits__item:not(:last-child) {
    margin-right: 30px;
}

.benefits__subtitle{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase; 
    margin-top: 0;
    margin-bottom: 10px;
}

.benefits__text {
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.7;
    margin-top: 0;
    margin-bottom: 0;
}

/* =============================================================================
                                                    | Наши преимущества / Иконки
============================================================================= */

.benefits__icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 120px;
    margin-bottom: 30px;

    background-color: var(--additional-bg); 
}

.benefits__icon {
    width: 70px;
    height: 70px;
    fill: currentColor;
}

/* =============================================================================
                                                                | Наши работы
============================================================================= */

.what-we-do {
    padding-bottom: 94px;
}

.what-we-do__list {
    display: flex;
}

.what-we-do__item {
    position: relative;
}

.what-we-do__item:not(:last-child) {
    margin-right: 30px;
}

.title {
    text-align: center;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}

.what-we-do__title {
    margin-top: 0;
    margin-bottom: 50px;
}

.what-we-do__overlay {
    position: absolute;
    background-color: rgba(47, 48, 58, 0.8);
    bottom: 0;
    overflow: hidden;
}

.what-we-do__text {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 70px;
    width: 370px;

    margin: 0;

    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    text-transform: uppercase;

    color: var(--main-white-color);
}


                                            /* Наша команда */

.team {
    background-color: var(--additional-bg);
}
.team__content {
    padding-top: 94px;
    padding-bottom: 94px;
}

.team__title {
    margin-top: 0;
    margin-bottom: 50px;
}

.team__list {
    display: flex;
}

.team__item {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.team__item:not(:last-child) {
    margin-right: 30px;
}

.team__name {
    margin-top: 0;
    margin-bottom: 10px;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.team__position {
    margin-top: 0;
    margin-bottom: 16px;

    color: var(--secondary-text-color);

    font-size: 16px;
    line-height: 1.18;
}

.team__list-content {
    padding: 30px 32px;

    text-align: center;
    background-color: var(--main-white-color);
}

/* =============================================================================
                                                    | Social icons / Team & Footer
============================================================================= */

.socials__list {
    display: flex;
}

.socials__item:not(:first-child) {
    margin-left: 10px;
}

.socials__link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: var(--icons-color);
    
    cursor: pointer;

    transition: background-color var(--main-transition-time) var(--main-transition-function), color var(--main-transition-time) var(--main-transition-function)
}

.socials__icon {
    fill: currentColor;
    width: 20px;
    height: 20px;
}

.socials__link:hover,
.socials__link:focus {
    color: var(--main-white-color);
    background-color: var(--action-color);
}










                                            /* Clients */

.clients__content {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients__title {
    margin-top: 0;
    margin-bottom: 50px;
}
.clients__list {
    display: flex;
}

.clients__item:not(:first-child) {
    margin-left: 30px;
}

.clients__link {
    display: flex;
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--icons-color);
    border-radius: 4px;
    color: var(--icons-color);

    transition: border var(--main-transition-time) var(--main-transition-function), color var(--main-transition-time) var(--main-transition-function);
}

.clients__icon {
    fill: currentColor;
    width: 106px;
    height: 60px;
}

.clients__link:hover,
.clients__link:focus {
    border-color: var(--action-color);
    color: var(--action-color);
}

                                            /* Portfolio */


.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

                                                /* Portfolio buttons */


.portfolio-btn-list {
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
}

.portfolio-btn-item  {
    margin-right: 8px;
    border-radius: 4px;
}


.portfolio-btn-item:nth-last-child(-n + 1) {
    margin-right: 0;
}

.portfolio-btn-button {
    background-color: var(--additional-bg);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    padding: 6px 22px;

    transition: background-color var(--main-transition-time) var(--main-transition-function), color var(--main-transition-time) var(--main-transition-function), box-shadow var(--main-transition-time) var(--main-transition-function);
}

.portfolio-btn-button.current,
.portfolio-btn-button:hover,
.portfolio-btn-button:focus {
    background-color: var(--action-color);
    color:var(--main-white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

                                        /* Portfolio cards */


.portfolio-card-list {
    display: flex;
    flex-wrap: wrap;

    margin-top: -30px;
    margin-left: -30px;
}

.portfolio-card-link {
    display: block;
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc(100% / 3 - 30px);

    transition: box-shadow var(--main-transition-time) var(--main-transition-function);
}

.portfolio-card-thumb {
    position: relative;
    overflow: hidden;
}

.portfolio-card-overlay {
    width: 100%;
    height: 100%;

    padding: 63px 24px;

    position: absolute;
    bottom: 0;
    background-color: var(--portfolio-hover-effect);
    opacity: 0;
    transform: translateY(100%);

    transition: transform var(--main-transition-time) var(--main-transition-function), opacity var(--main-transition-time) var(--main-transition-function);
}

.portfolio-card-overlay-text {
    margin: 0;
    font-size: 18px;
    line-height: 1.56;

    color: var(--main-white-color);

}

.portfolio-card-link:hover .portfolio-card-overlay,
.portfolio-card-link:focus .portfolio-card-overlay {
    opacity: 1;
    transform: translateY(0);
}

.portfolio-card-link:hover,
.portfolio-card-link:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio-card-content {
    border-left: 1px solid var(--secondary-border-line-color);
    border-right: 1px solid var(--secondary-border-line-color);
    border-bottom: 1px solid var(--secondary-border-line-color);
    
    padding: 20px 24px;
}

.portfolio-card-subtitle {
    margin-top: 0;
    margin-bottom: 4px;
    
    color: var(--main-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-card-text {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--secondary-text-color);
    
    font-size: 16px;
    line-height: 1.87;
}

/* =============================================================================
                                                                        | Подвал 
============================================================================= */

.footer {
    background-color: var(--footer-bg);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__container {
    display: flex;
    align-items: baseline;
}

.footer__logo {
    margin-bottom: 20px;
}

.logo--white {
    color: var(--main-white-color);
    margin-bottom: 20px;
}

/* =============================================================================
                                                                | Подвал / Контакты 
============================================================================= */

.footer__address {
    font-style: normal;
    width: 231px;
}

.footer__address-text {
    color: var(--main-white-color);
    margin-top: 0;
    margin-bottom: 9px;
}

.footer__address-link {
    color: var(--signature-color);
    display: inline-block;

    transition: color var(--main-transition-time) var(--main-transition-function);
}

.footer__address-text,
.footer__address-link {
    font-size: 14px;
    line-height: 1.7;
}

.footer__address-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer__address-links:hover,
.footer__address-links:focus {
    color: var(--action-color);
}

/* =============================================================================
                                                    | Подвал / Присоединяйтесь
============================================================================= */

.footer__join-us {  
    margin-left: 70px;
}

.footer__join-us-text {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;

    color: var(--main-white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.footer__subscribe-text {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;

    color: var(--main-white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.footer__socials--dark {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--main-white-color);
    background-color: rgba(255, 255, 255, 0.1);
}

.footer__socials--dark:hover,
.footer__socials--dark:focus {
    background-color: var(--action-color);
}

/* =============================================================================
|                                                        Подвал / Подписывайтесь
============================================================================= */

.footer__subscribe {
    margin-left: auto;
}

.footer__subscribe-form {
    display: flex;
}

.footer__subscribe-input {
    width: 358px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);;
    color: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding-left: 16px;

    transition: border-color var(--main-transition-time) var(--main-transition-function);
}

.footer__subscribe-input:focus,
.footer__subscribe-input:hover {
    border-color: var(--action-color);
}

.footer__subscribe-button {
    margin-left: 12px; 

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}



.footer__subscribe-button:hover,
.footer__subscribe-button:focus {
    background-color: var(--main-choice-color);
}


.footer__subscribe-icon {
    margin-left: 10px;
}






                            /* Modal window */

.backdrop {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color:rgba(0, 0, 0, 0.2);
    
    opacity: 1;
    transition: opacity var(--main-transition-time) var(--main-transition-function);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;

    width: 528px;
    /* height: 581px; */

    transform: translate(-50%, -50%);
    background-color: var(--main-white-color);
}

.modal-text {
    margin-top: 0px;
    margin-bottom: 30px;

    
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}

.modal-form {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.modal-form-field {
    position: relative;
    margin-bottom: 28px;
    display: flex;
}

.modal-form-field:nth-last-child(-n + 3) {
    margin-bottom: 20px;
}

.modal-form-input {
    width: 448px;
    height: 40px;
    padding-left: 42px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);

    transition: border-color var(--main-transition-time) var(--main-transition-function);
}

.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    fill: currentColor;

    transform: translateY(-50%);
    transition: color var(--main-transition-time) var(--main-transition-function);
}

.modal-form-label {
    position: absolute;
    top: 50%;
    left: 42px;

    transform: translateY(-50%);

    font-size: 12px;
    line-height: 1.16;

    letter-spacing: 0.01em;
    color: var(--secondary-text-color);

    transition: transform var(--main-transition-time) var(--main-transition-function);
}

.modal-form-comment {
    width: 448px;
    height: 120px;

    padding: 12px 16px;
    resize: none;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    transition: border-color var(--main-transition-time) var(--main-transition-function);
}

.modal-form-comment-label {
    position: absolute;
    top: -16px;
    left: 0;
    font-size: 12px;
    line-height: 1.16;
    opacity: 0;

    letter-spacing: 0.01em;
    color: var(--secondary-text-color);

    transition: opacity var(--main-transition-time) var(--main-transition-function);
}


                                            /* Checkbox */

.modal-form-checkbox,
.modal-form-license {
    font-size: 14px;
    line-height: 1.71;
}

.modal-form-checkbox {
    width: 425px;
    margin-bottom: 30px;
    
    position: relative;
    text-align: right;
}

.modal-form-checkbox-label {
    color: var(--secondary-text-color);
}

.modal-form-license {
    color: var(--action-color);
}

.modal-form-checkbox-input {
    position: absolute;
    appearance: none;
}

.modal-form-empty-icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    cursor: pointer;

    fill: currentColor;

    transition: color var(--main-transition-time) var(--main-transition-function)
}

.modal-form-checkbox-input:focus-visible + .modal-form-empty-icon,
.modal-form-checkbox-input:hover + .modal-form-empty-icon {
    color: var(--action-color);
}



.modal-form-checkbox-icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    opacity: 0;
    border-radius: 2px;
    background-color: var(--action-color);

    transition: opacity var(--main-transition-time) var(--main-transition-function);
}


.modal-form-checkbox-input:checked ~ .modal-form-checkbox-icon {
    opacity: 1;
}



                                        /* Modal form button */

.modal-form-button {
    padding: 0;
    border-radius: 4px;
    border: none;

    cursor: pointer;

    background-color: var(--action-color);
    color: var(--main-white-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    
    min-width: 200px;
    min-height: 50px;
    transition: background-color var(--main-transition-time) var(--main-transition-function);
}

.modal-form-button:hover,
.modal-form-button:focus {
    background-color: var(--main-choice-color);
}


.modal-form-field:focus-within .modal-form-icon {
    color: var(--main-choice-color);
}

.modal-form-field:focus-within .modal-form-label {
    transform: translate(-42px, -38px);
}

.modal-form-input:not(:placeholder-shown) + .modal-form-label {
    transform: translate(-42px, -38px);
}

.modal-form-field:focus-within .modal-form-comment-label {
    opacity: 1;
}

.modal-form-comment:not(:placeholder-shown) + .modal-form-comment-label {
    opacity: 1;
}

.modal-form-field:focus-within .modal-form-input,
.modal-form-field:focus-within .modal-form-comment {
    border-color: var(--main-choice-color);
}

.modal-btn-close {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--main-white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);


    transition: border-color var(--main-transition-time) var(--main-transition-function);
}

.modal-close-icon {
    width: 11px;
    height: 11px;
    fill: currentColor;
    
    transition: color var(--main-transition-time) var(--main-transition-function);
}

.modal-btn-close:hover,
.modal-btn-close:focus {
    color: var(--action-color);
    border-color: var(--action-color);
}