.socials__list {
    display: flex;
}

.socials__item:not(:first-child) {
    margin-left: 10px;
}

.socials__link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: $icons-color;
    
    cursor: pointer;

    transition: background-color $main-transition-time $main-transition-function, color $main-transition-time $main-transition-function;


    &:hover,
    &:focus {
    color: $main-white-color;
    background-color: $action-color;
    }

}

.socials__icon {
    fill: currentColor;
    width: 20px;
    height: 20px;
}